<h1>Home</h1>
<div class="row">
  <div class="span4" id="left_nav">
	<h4>Featured Tickets</h4>
	<ul>
		<li><a href='#'>2012 Super Bowl XLVI Tickets</a></li>
		<li><a href='#'>NFC Playoff Tickets</a></li>
		<li><a href='#'>AFC Playoff Tickets</a></li>
		<li><a href='#'>2012 Pro Bowl Tickets</a></li>
  </div>
  <div class="span8" id="top_content">
  	<h3>Arizona Cardinals Tickets</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut dignissim diam. In a justo nisi. Fusce suscipit nulla non lorem pellentesque eleifend laoreet ante ullamcorper. Proin est turpis, hendrerit vel porttitor at, fringilla in nisl. Fusce pulvinar auctor libero at semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In laoreet odio id ipsum molestie iaculis. Donec aliquam, neque ut luctus sollicitudin, orci nibh tincidunt felis, a molestie nisi nulla a dui. Proin at nisi et tellus consequat vulputate sit amet non libero. In quis nulla vitae lacus bibendum pulvinar. Donec non elit libero. 
	</p>
  </div>
</div>