<script type="text/javascript">
	mixpanel.track("View Home");
</script>
<div class="page-header">
	<h1>Top Baseball Tickets</h1>
	<h2>Welcome to your number one source for MLB tickets!</h2>
</div>
<div id="content">
	<%= get_flickr_photo('group') %>
	<p>
		Spring training has come and gone, and now the 2012 MLB baseball season is in full swing. Oil your mitt and get down to the ballpark! With tickets from TopBaseballTickets.com, you just might catch that home run ball. Watch your team live as they compete for a coveted spot in the MLB Playoffs. TopBaseballtickets.com has you covered from the dugout to bleachers with the best 2012 MLB tickets!
	</p>
	<h3>Featured Tickets</h3>
	<table class="table table-striped">
	  <tr><td><a href='#'>2012 All Star Game Tickets</a></td></tr>
	  <tr><td><a href='#'>Home Run Derby Tickets</a></td></tr>
	  <tr><td><a href='#'>2012 NLDS Tickets</a></td></tr>
	  <tr><td><a href='#'>2012 ALDS Tickets</a></td></tr>
	  <tr><td><a href='#'>2012 NLCS Tickets</a></td></tr>
	  <tr><td><a href='#'>2012 ALCC Tickets</a></td></tr>
	  <tr><td><a href='#'>2012 World Series Tickets</a></td></tr>
	</table>
	<h3><%= Time.now.year %> MLB Tickets by Team</h3>
	<table class="table table-striped">
		<% @teams.each do |team| %>
			<tr><td><%= link_to "#{team.name} Tickets", "/events/#{team.name.gsub(" ","-")}-Tickets" %></td></tr>
		<% end -%>
	</table>
</div>