// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#amount {
	font-weight: bold;
}

#map {
	width: 502px;
	height: 473px;
}